.chat
  .chat__side
    = render partial: "chat__side__top"
    = render partial: "chat__side__glist"
  .chat__main
    = render partial: "chat__main__header"
    = render partial: "chat__main__message"
    = render partial: "chat__main__footer"


  